.form-section {
  min-height: 80vh;
  @include flex(center, center, row);
  form {
    padding: 3rem 10rem;
    box-shadow: 0px 10px 10px rgba($color: #000000, $alpha: 0.2),
      0px 20px 40px rgba($color: #000000, $alpha: 0.2);
    border-radius: 2rem;
    background: white;
    @include flex(center, center, column);

    input,
    textarea {
      margin: 2rem;
      &:focus {
        outline: 2px solid black;
      }
    }
    textarea {
      font-family: "Montserrat", sans-serif;
      font-size: 2rem;
    }
    button {
      width: 100%;
      padding: 2rem;
      background: $background-color;
      color: white;
      &:focus {
        background: rgb(51, 105, 107);
      }
    }
  }
}

.splash {
  position: absolute;
  top: 0%;
  right: 0%;
  height: 100%;
  z-index: -1;
}
