.projects {
  width: 90%;
  margin: auto;
  min-height: 80vh;
  @include flex(space-between, center, row);
  text-align: center;
  flex-wrap: wrap;
  h2 {
    margin: 5rem;
  }
  align-items: flex-start;
}

.project-img {
  height: 50vh;
  width: 30vw;
}

.cocktail-manager,
.elena-joy,
.morning-text {
  flex: 1 1 40vh;
  padding-bottom: 5vh;
  padding-top: 5vh;
}

.splash {
  position: absolute;
  top: 0%;
  right: 0%;
  height: 100%;
  z-index: -1;
  opacity: 0.45;
}
