.projects {
  width: 90%;
  margin: auto;
  min-height: 80vh;
  @include flex(space-between, center, row);
  text-align: center;
  flex-wrap: wrap;
  h2 {
    margin: 5rem;
  }
}

.travelly,
.elena-joy {
  flex: 1 1 40rem;
}

.splash {
  position: absolute;
  top: 0%;
  right: 0%;
  height: 100%;
  z-index: -1;
  opacity: 0.45;
}
